# Default values for surveillance-pseudonym-purger

# Enables debug mode
debug:
  enable: false

# Defines the Schedule for the CronJob
cronJobSchedule: "0 22 * * *"

# Required Values for the Chart
required:
  suspend: false
  # Define the docker image
  image:
    repository: europe-west3-docker.pkg.dev/gematik-all-infra-prod/demis-dev
    name: surveillance-pseudonym-purger
    # Overrides the image tag whose default is the chart appVersion.
    # If not given, the Chart AppVersion will be used
    tag: null

# Extra Labels to be added
# E.g.
# customLabels:
#   my-label: my-label-value
customLabels: {}

secret:
  name: surveillance-pseudonym-purger-database-secret
  key: SURVEILLANCE_PSEUDONYM_PURGER_DB_PASSWORD
  propPath: spring/datasource/password

# Extra Environment Variables to be defined
# customEnvVars
#   key: value
customEnvVars:
  DB_URL: "jdbc:postgresql://pgbouncer:5432/surveillance-pseudonym"
  DB_USER: surveillance-pseudonym-purger

# Define custom Container Entrypoint and Arguments (e.g. JVM Tuning)
# If not given, the Entrypoint defined in Dockerfile will be used
application:
  entrypoint: ["java"]
  parameters: ["-XX:ActiveProcessorCount=2", "-XX:MaxRAMPercentage=80.0", "-XX:+TieredCompilation", "-XX:+UseSerialGC", "-jar", "/app.jar"]

# Define Image Pull Secrets if using private registry
imagePullSecrets: []
imagePullPolicy: IfNotPresent
nameOverride: "surveillance-pseudonym-purger"
fullnameOverride: "surveillance-pseudonym-purger"

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# Annotations for Workload
annotations: {}

# Annotations for Pods
podAnnotations: {}

# Pod Security Context - applies to all containers in a Pod
podSecurityContext:
  # The GID to tell the Kubelet to modify permissions of a volume owned by a pod
  fsGroup: 10000
  # Determines when to apply fsGroup actions - "Always" is the default
  fsGroupChangePolicy: "OnRootMismatch"
  # Which GID container process is assigned
  runAsGroup: 10000
  # Determine whether container process starts as root (UID 0)
  runAsNonRoot: true
  # Which UID container process is assigned
  runAsUser: 10000

# Container Security Context for a single container - Takes precedence over PodSecurityContext
securityContext:
  #defines whether container can be granted privileges beyond the parent process spawing the process
  allowPrivilegeEscalation: false
  #Define whether the container has privileged access e.g. CAP_SYS_ADMIN capability and SELinux spc_t type
  privileged: false
  #Usually no longer required. Determines whether /proc is masked to the container. Do not mount /proc from a host to a container
  procMount: Default
  # The SELinux context to be applied to the container. Must not be explicitly set to Unconfined.
  seccompProfile:
    type: "RuntimeDefault"
  #Which GID container process is assigned
  runAsGroup: 10000
  # Determine whether container process starts as root (UID 0)
  runAsNonRoot: true
  #Which UID container process is assigned
  runAsUser: 10000
  # Sets the file system as read-only
  readOnlyRootFilesystem: true
  #Ability to remove and /or add Linux Capabilities
  capabilities:
    drop:
      - all

# Resources
resources:
  limits:
    memory: "384Mi"
  requests:
    cpu: "100m"
    memory: "256Mi"

nodeSelector: {}

tolerations: []

affinity: {}

# Enable Istio
istio:
  enable: true
  healthPort: 15020
  quitPort: 15020